.tableContainer{
    padding:8px 8px 14px 8px;

}
.table{
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
}

.selected{
    background-color: red;
}
.dayBtn{
    padding: 8px;
    background-color: transparent;
    border: 0px;
}
